<p style="margin: 20px;">
  <fa-icon [icon]="faEnvelope" style="color: blue; margin: 5px;"> </fa-icon>
  <a href="mailto:I@Rajesh.name"> I@Rajesh.name</a>
</p>
<!-- form goes here -->
<!-- <form (ngSubmit)="processForm()">
  <!-- name -->
  <div class="field">
    <input type="text" name="name" class="input" placeholder="Your Name" />
  </div>

  <!-- email -->
  <div class="field">
    <input type="email" name="email" class="input" placeholder="Your Email" />
  </div>

  <!-- message -->
  <div class="field">
    <textarea
      class="textarea"
      name="message"
      placeholder="What's on your mind?"
    ></textarea>
  </div>

  <button type="submit" class="button is-danger is-large">Submit</button>
</form> -->
