<h2>Covid-19 Live stats</h2>
<span style="float: left; width: 50%; text-align: left;">
  Report Date: {{ reportDate | date }}</span
>
<span style="color:blue; float: left; width: 50%;text-align:right;"
  ><b>&copy; Rajesh Toleti</b></span
>

<ag-grid-angular
  style="height: 500px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
>
</ag-grid-angular>
<!-- <div style="width: 40%;">
  <canvas
    baseChart
    [chartType]="'line'"
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [legend]="true"
    (chartClick)="onChartClick($event)"
  >
  </canvas>
</div> -->
<div style="width:99%;">
  <canvas
    baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    chartType="horizontalBar"
    [colors]="barChartColors"
  >
  </canvas>
</div>
