<div class="navbar">
  <a class="active" href="#"
    ><fa-icon [icon]="faVirus" style="color: white;"></fa-icon> Covid-19
    {{ reportDate | date }}
  </a>

  <a href="#"
    ><fa-icon [icon]="faChartBar" style="color: white;"></fa-icon>Charts</a
  >
  <a href="#"
    ><fa-icon [icon]="faEnvelope" style="color: white;"></fa-icon> Contact</a
  >
  <a href="#"
    ><fa-icon [icon]="faUser" style="color: white;"></fa-icon> Rajesh Toleti</a
  >
</div>
<ag-grid-angular
  style="height: 500px; margin: 5px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
>
</ag-grid-angular>
<!-- <div style="width: 40%;">
  <canvas
    baseChart
    [chartType]="'line'"
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [legend]="true"
    (chartClick)="onChartClick($event)"
  >
  </canvas>
</div> -->
<br /><br />
<h4 style="margin: 5px;">Top 25 Countries (Number of deaths)</h4>

<div style="width: 99%; margin: 5px;">
  <canvas
    baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    chartType="horizontalBar"
    [colors]="barChartColors"
  >
  </canvas>
</div>
<app-worldmap></app-worldmap>
<router-outlet></router-outlet>
