<div class="navbar">
  <a href="#" style="background-color: red;"
    ><fa-icon [icon]="faVirus" style="color: white;"></fa-icon>
    Covid-19
    {{ reportDate | date }}
  </a>

  <a routerLink="/worldmap"
    ><fa-icon [icon]="faChartBar" style="color: white;"></fa-icon>Charts</a
  >
  <a routerLink="/contact"
    ><fa-icon [icon]="faEnvelope" style="color: white;"></fa-icon> Contact</a
  >
  <a href="#"
    ><fa-icon [icon]="faUser" style="color: white;"></fa-icon> Rajesh Toleti</a
  >
</div>

<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->

<!-- <div style="width: 40%;">
  <canvas
    baseChart
    [chartType]="'line'"
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [legend]="true"
    (chartClick)="onChartClick($event)"
  >
  </canvas>
</div> -->

<router-outlet></router-outlet>
