<mat-tab-group>
  <mat-tab label="World">
    <ag-grid-angular
      style="height: 500px; margin: 5px;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
    >
    </ag-grid-angular>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon [icon]="faChartBar" style="color: goldenrod;"></fa-icon>
      <span>Top 25</span>
    </ng-template>
    <div style="width: 100%; margin: 5px;">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        chartType="horizontalBar"
        [colors]="barChartColors"
      >
      </canvas>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img
        [src]="'assets/indiaflag.jpg'"
        style="width: 10%; height: auto; margin: 2px;"
        alt="*"
      />
      <span>India</span>
    </ng-template>

    <div style="width: 100%; margin: 5px;">
      <iframe
        src="https://www.covid19india.org/"
        height="2700px"
        width="100%"
        target="_self"
      ></iframe>
    </div>
    <h4 style="text-align: center;">*This is an external website*</h4>
  </mat-tab>
</mat-tab-group>
